body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.fa {
    font-size: 40px;
}

.fa-star-o:before {
    content: "\f005";
    color: #5f6368;
}

.fa-star:before {
    content: "\f006";
    color: #d56e0c;
}
